# OS/editors
.vscode/
.DS_Store

# env & secrets
.env
.env.* 

# local sqlite
database/database.sqlite

# node / build
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
public/build/
public/dist/

# vendor / composer (optional)
vendor/

# logs
/storage/logs/
